name: ESP-IDF Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: espressif/idf:release-v5.3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build with idf.py
        run: |
          . $IDF_PATH/export.sh
          idf.py build